.exercise-grid-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 20px;
  gap: 20px;
}

.body-names {
  width: 20%;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  /* Set a specific height for the parent container */
}

.body-names div {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.body-names div.selected {
  background-color: #007bff;
  color: white;
}

.exercise-names {
  flex: 1;
  height: 400px; /* Adjust this value as needed */
}

.scrollable-container {
  /* Set max-height to a percentage value relative to the parent container */
  max-height: 100%; /* Adjust this value as needed */
  overflow-y: scroll;
}

.grid-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px 0;
  transition: background-color 0.3s;
}

.grid-item:hover {
  background-color: #f5f5f5;
}

.grid-item button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.grid-item button:hover {
  background-color: #0056b3;
}

.exercise-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.exercise-popup img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 600px) {
  .exercise-grid-form {
    flex-direction: column;
    align-items: center;
  }

  .body-names {
    width: 100%;
    max-height: none;
  }

  .exercise-names {
    width: 100%;
    overflow-y: auto;
    max-height: none;
  }

  .scrollable-container {
    max-height: none;
  }

  .grid-item {
    flex-direction: column;
  }
}
